<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.31">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.4"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.4">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty/>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.61">
    <script>pipeline {
    agent any 
    stages {
        stage(&apos;Git&apos;) {
            steps {
                node(&apos;master&apos;){
                    sh &apos;&apos;&apos;
                    rm -rf *
                    git clone -b task7 git@github.com:yu74co/devopstraining.git
                    cd devopstraining
                    git add *
                    git config user.email &quot;sem.y@tut.by&quot;
                    git config user.name &quot;Yury Semchanka&quot;
                    git config push.default simple
                    &apos;&apos;&apos;
                }
            }
        }
    
        stage(&apos;Gradle&apos;){
            steps {
                node(&apos;master&apos;){
                    sh &apos;&apos;&apos;chmod -R 755 devopstraining
                        cd devopstraining
                        ./gradlew incrementVersion
                        ./gradlew build
                    &apos;&apos;&apos;
                    script { 
                        VERs = readFile(&apos;./devopstraining/gradle.properties&apos;)
                        String version=VERs.drop(VERs.lastIndexOf(&apos;=&apos;)+1)
                        echo &quot;${version}&quot;
                        env.ver = &quot;${version}&quot;
                    }
                    sh &apos;curl -XPUT -u admin:admin123 -T ./devopstraining/build/libs/devopstraining-$ver.war http://server1:8081/nexus/content/repositories/snapshots/task7/$ver/test.war&apos;
                }
                
            }
        }
        
        stage(&apos;Docker build and publish&apos;) {
            steps {
                node(&apos;master&apos;){
                    sh &apos;&apos;&apos;
                        echo $ver
                        cd ./devopstraining
                        #sudo docker run -d -p 5000:5000 --name registry registry:2
                        sudo docker build --build-arg version=$ver --tag=mytomcat .
                        sudo docker image tag mytomcat localhost:5000/task7:$ver
                        sudo docker push localhost:5000/task7:$ver
                        if [ -z $(sudo docker service ls | grep myserv) ]; then
                            # sudo docker swarm init
                            sudo docker service create --replicas 2 --name myserv -p 4000:8080 localhost:5000/task7:$ver
                        else
                            sudo docker service update --image localhost:5000/task7:$ver myserv
                        fi

                        #sudo docker run -d -p 4000:8080 localhost:5000/task7:$ver
                        #sudo docker container stop registry &amp;&amp; sudo docker container rm -v registry
                    &apos;&apos;&apos;
                }
                                
            }
        }
        
        stage (&apos;Check url&apos;) {
            steps {
                node (&apos;master&apos;) {
                    script {
                        httpRequest acceptType: &apos;TEXT_HTML&apos;, consoleLogResponseBody: true, url: &apos;http://192.168.0.10:4000/test&apos;
                    }    
                }
            }
        }
        
        
        stage (&apos;Git push&apos;) {
            steps {
                node(&apos;master&apos;){
                    sh &apos;&apos;&apos;
                    cd devopstraining
                    git add ./gradle.properties
                    git status
                    git commit -a -m &quot;Update version&quot;
                    git push
                    git checkout master
                    git merge task7
                    git push
                    git tag -a $ver -m &apos;version&apos;
                    git push origin $ver
                    &apos;&apos;&apos;
                }
            }
        }
        
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
